input {
    background-color: white;
    border: none;
    border-radius: 44px;
    font-size: 16px;
    height: 42px;
    outline: none;
    padding-inline-end:  30px;
    padding-inline-start: 30px;
    position: relative;
    width: 465px;
    margin-bottom: 16px;
    margin: 0;
    display: block;
}

body {
    background-color: black;
}

#wrapper {
    height: 25.5vw;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

#wrapper h1 {
    color: #FFF;
    font-size: 75px;
}